:root {
  --neutral-900: #252f3d;
  --neutral-600: #7c899c;
  --neutral-500: #8fa3bf;
  --neutral-300: #dae4f2;
  --neutral-200: #e6edf7;
  --neutral-100: #f5f9ff;
  --neutral-0: #fff;

  --brand-gradient: linear-gradient(90deg, #176feb, #ff80ff);
  --brand-gradient-hover: linear-gradient(90deg, #1667d9, #f279f2);
  --brand-light-200: #cce1ff;
  --brand-light-100: #e5f0ff;

  --green-200: #29cc74;
  --green-100: #ccffe3;

  --red-200: #e07f4f;
  --red-100: #ffdfd9;

  --gradient-ilustration: linear-gradient(90deg, #7296eb, #eac0e9, #eac0e9);
  --gradient-section: linear-gradient(
    102.47deg,
    rgba(23, 111, 235, 0.5) -5.34%,
    rgba(255, 128, 255, 0.5) 106.58%
  );
  --gradient-aerolab: linear-gradient(180deg, #ff8800 0%, #ff6600 100%);

  --heading-1: 20rem;
  --heading-2: 9.6rem;
  --heading-3: 4.8rem;
  --heading-4: 3.2rem;
  --heading-5: 2.4rem;

  --body-l: 1.8rem;
  --body-m: 1.6rem;
  --body-s: 1.4rem;
  --body-xs: 1.2rem;
}
